name: Update manifest to stage

on:
  workflow_call:
    inputs:
      tag_name:
        required: true
        type: string
    secrets:
      VAULT_URL:
        required: true
      VAULT_SECRET_PATH:
        required: true
      VAULT_ROLE:
        required: true
      VAULT_ROLE_ID:
        required: true
      VAULT_SECRET_ID:
        required: true


jobs:
  update-manifest:
    name: Update manifest files to stage
    environment: stage
    runs-on: self-hosted-linux
    steps:
      - name: Import secrets from vault
        uses: hashicorp/vault-action@v3
        id: vault
        with:
          url: ${{ secrets.VAULT_URL }}
          method: approle
          roleId: ${{ secrets.VAULT_ROLE_ID }}
          secretId: ${{ secrets.VAULT_SECRET_ID }}
          secrets: ${{ secrets.VAULT_SECRET_PATH}} *

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Get latest tag
        run: |
          echo "LATEST_TAG=${{ inputs.tag_name }}" >> $GITHUB_ENV

      - name: Load .env file
        uses: aarcangeli/load-dotenv@v1
        with:
          expand: 'true'

      - name: Update manifest files
        uses: NationalLibraryOfNorway/nasa-workflows/.github/action/manifest-update@main
        with:
          manifest-app-id: ${{ env.MANIFEST_APP_ID }}
          manifest-privatekey: ${{ env.MANIFEST_PRIVATEKEY }}
          manifest-installation-id: ${{ env.MANIFEST_INSTALLATION_ID }}
          release-version: ${{ env.LATEST_TAG }}
